.btn{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    width: 100%;
    padding:1rem;
    border-radius: .8rem;
}

@media(min-width:767px){
    .btn{
        max-width: 350px;
    }
}
