
.event_container{
  padding-bottom: 2rem;
}

.event_header{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
    background:var(--brand_red_clr);
    padding:1.5rem var(--spacing);
}
.event_description{
    text-align: center;
    color:var(--neutral_clr);
}
.event_list{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) ;
  gap:1rem;
  padding:var(--spacing);
}

@media(min-width:767px){
  .event_list{
    gap:2rem;
  }
  .header_title{
    font-size: 2.5rem;
  }
  .event_description{
    font-size: 1.3rem;
    max-width: 500px;
}

}