
:root {
  --main_bg:#F7FAFC;
  --neutral_clr:#FFFFFF;
  /* #F4F4F4 */
  --brand_red_clr:#C41E02;
  --spacing:1rem;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
 line-height: 1.5;
 font-family: "Poppins", sans-serif;
 background:var(--main_bg);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

main{
  position: relative;
}
ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:inherit;
}

@media (prefers-color-scheme: dark) {

}

.center_content{
  margin:0 auto;
}

button{
  border:none;
  cursor: pointer;
  background: none;
}


.input:focus{
  outline:1px solid var(--primary_purple_clr);
}

.container{
  padding:0 var(--spacing);
}

.flex_center{
  display:flex;
  align-items: center;
}
.flex_space_between{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.widget_container{
  background:var(--primary_white_clr);
  border-radius: .75rem;
  padding:1rem;
}

.btn_cta{
  background:var(--brand_red_clr);
  color:var(--neutral_clr);
  font-size: 1.125rem;
  padding:.5rem 2rem;
  width: fit-content;
  border-radius: .5rem;
}

.block{
 padding:2.5rem var(--spacing);
}









