
.activity_card{
    border-radius: .5rem;
    height:400px;
    position:relative;
}

.activity_card_image{
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}
.card_content{
 display:flex;
 flex-direction: column;
 justify-content: center;
 gap:1rem;
 padding:1rem;
 color:var(--neutral_clr);
}

.card_content_headline{
    font-size: 1.7rem;
}
.card_content_description{
    font-size: 1.125rem;
}