
.menu_container{
    display:flex;
    align-items: center;
}

.menu_item{
    font-size: 1rem;
    color:var(--brand_red_clr);
    margin:0 1.2rem;
    position: relative;
}
.menu_item:not(:last-child) > a:hover::before {
  position:absolute;
  bottom:-5px;
  content: " ";
  width:100%;
  height: 2px;
  background:var(--brand_red_clr);
}

.menu_item:last-child{
   background:var(--brand_red_clr);
   color:var(--neutral_clr);
   padding:.5rem 2rem;
   border-radius: .5rem;
   cursor: pointer;
   transition: all 200ms ease-in-out;
}
.menu_item:last-child:hover{
  background:#990e0e;
 }