
.event_card{
    display:grid;
    grid-template-columns: 1fr;
    border:1px solid #e3e8ef;
    border-radius: .5rem;
    max-width: 380px;
}

.event_card_graphic{
    border-radius: .5rem;
    min-height:100%;
    object-fit:cover;
}

.event_card_body{
    display:grid;
    grid-template-columns: 1fr;
    gap:.5rem;
    padding:.5rem;
    color:var(--black_text_clr);
    /* border:1px solid red; */
}

.event_card_body_description{
    font-size: 1.2rem;
    color:var(--black_text_clr);
}

.event_time_card_col{
    display:flex;
   flex-direction: column;
}

.event_location{
    display:flex;
    align-items: center;
    gap:.2rem;
}

.event_card_body a{
    margin:.5rem 0;
}

.event_card_body a:hover{
    background:#990e0e;
}