
.xs{
    font-size: 1rem;
}

.sm{
    font-size: 1.2rem;
}

.md{
 font-size: 1.5rem;
}
.lg{
 font-size: 1.8rem;
}
.xl{
    font-size: 2rem;
}
.xxl{
    font-size: 2.5rem;
}

.black{
    color:var(--black_text_clr);
}
.red{
    color:var(--brand_red_clr);
}
.white{
    color:var(--neutral_clr);
}