
.sm{
    font-size: 1.5rem;
}

.md{
 font-size: 1.75rem;
}
.lg{
 font-size: 1.8rem;
}
.xl{
    font-size: 2rem;
}

.black{
    color:var(--black_text_clr);
}
.red{
    color:var(--brand_red_clr);
}
.white{
    color:var(--neutral_clr);
}