.ministerio_card{
  position:relative;
  height:380px;
  border-radius:20px;
  transition:transform 400ms ease-in-out;
}
.ministerio_img{
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.ministerios_menu{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  gap:1rem;
  padding:1rem 0;
}

.ministerio_card_info{
  display:flex;
  flex-direction: column;
  gap:.5rem;
  position:absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  border-radius: inherit;
  background:rgba(0,0,0,.5);
  padding:3rem 1rem;
  color:white;
}

.ministerio_card_title{
  font-size: 1.5rem;
}

.ministerio_description{
  font-size:1.125rem;
}

.ministerio_card_link{
 height:30px;
 width: fit-content;
 border-bottom: 2px solid #ffffffb6;
 font-size: 1.125rem;
}

.content{
  font-size: 1.125rem;
  padding: 0 .5rem;
  text-align: center;
}

@media(min-width:767px){
  .main_heading{
    font-size: 2.5rem;
  }
  .content{
    max-width: 650px;
    margin:0 auto;
    font-size: 1.25rem;
  }

  .ministerio_card{
    height:320px;
  }

  .ministerios_menu{
    gap:2rem;
  }
  .ministerio_card:hover{
    cursor: pointer;
    /* transform: translateY(-12px); */
  }
}
